
<h2>Features</h2>
<ul>
  <li>Click wheel simulation.</li>
  <li>Classic UI and UX.</li>
  <li>Mutilple and customizable themes.</li>
  <li>Cover flow.</li>
</ul>

<h2>Download</h2>
<p><a href="https://play.google.com/store/apps/details?id=bob.sun.prodigal"><img src="images/google-play-badge.png" height="60"></a><a href="https://itunes.apple.com/cn/app/id1231296263?mt=8"><img src="images/app-store-badge.png" height="60"></a></p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/SpongeBobSun/Prodigal">Get the source code for Android</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/SpongeBobSun/Prodigal-iOS">Get the source code for iOS</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://github.com/SpongeBobSun">Bob Sun</a>
  </li>
</ul>
