<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bob.sun.bender" >

    <!--
        For ContentResolver.
     -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--
        For wheel click
    -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <permission android:name="sun.bob.bender.allow_broadcast"
        android:protectionLevel="signature"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:persistent="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name="bob.sun.bender.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intro.BDIntroActivity"  android:theme="@style/AppTheme"/>
        <service
            android:name="bob.sun.bender.service.PlayerService"
            android:process=".PrdPlayer"
            />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8e19b2f9462d4928f267906b4f96d4ac60741643" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
